:root { 
  --primary-text: #222;

}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: var( --primary-text);
}

body { 
  background: url(./images/alexander-kaufmann-8H7TZXfLMCY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bbb;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#program { 
  color: var( --primary-text);
  font-size: 3rem;
  margin: 5vh;
}

/* input Area */
.input {
  display: flex; 
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 5vh 0;
  margin: 5vh 0; 
}

#input-text { 
  font-size: 1.5em;
  padding: 1vh 0; 
  margin: 1vh 0; 
}

#input-box { 
  padding: 1vh 0; 
  margin: 1vh 0; 
}

#time-hour {
  width: 5vw;
}

#time-min {
  width: 5vw;
}

#input-button input {
  font-size: 1.5rem;
  background-color: rgb(0, 184, 0);
  color: white; 
  border-radius: 10px;
  border-color: rgb(0, 184, 0);
  box-shadow: #222 2px 2px 2px;
  min-height: 4vh;
  min-width: 20vw;
}

#break {

}

/* Timer Area */

.timer-area { 
  color: var( --primary-text);
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.time-box{
  margin: 0 2vw;
  padding: 0 2vw;
}

.large  {
  color: var( --primary-text);
  font-size: 4rem;
}

span {
  color: var( --primary-text);
  margin-top: 1vh;
  padding-top: 1vh;
  font-size: 1.5em;
}